/* static/css/style.css */
body {
    background-color: #ffe4e1;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f8ff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
h2 {
  color: blue;
}
.label {
    font-weight: bold;
    color: #2c3e50;
    font-size: 18px;
}

